body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right:1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:white;
    overflow: auto;
}
nav a{
    text-decoration: none;
    color: black;
    padding-left: .5em;
    padding: right 0.5em;
    font-family:Arial, Helvetica, sans-serif;
}
.navLinks{
    display: flex;
}
.furtherResources{
    background-color: lightskyblue;
    margin-left: .5em;
    margin-rright:.5em
    padding-left: 2em;
    width: 25%;
}
.IntroBox {
    color: white;
    font-size:x-large;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    padding-bottom: 2em;
}
.InstructionBox {
    color: white;
    font-size:x-large;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    margin:1em
}
video {
    border: 1px solid black;
    border-width: thick;
    width: 70%;
}
.footerBox{
    display: flex;
    margin-top: 2em;
    height:7em;
}
.fin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right:1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:white;
    overflow: auto;
}
.footerLeft{
    height: 7em;
    width:50%;
    border-color: black;
    flex: 50%;
    color: white;
}
.footerLogo{
    width: 5%;
    position: fixed;
    right:10px;
    bottom: 10px;
    background-image: url(Images/CHARMS\ Super-User\ Logo.png);
    background-repeat: no-repeat;
}
#btn-NextPage{
    color: white;
    font-weight: bold;
    font-size:medium;
    background-color: blue;
    border-radius: 5px; 
    margin: 1em;
    padding: 10px 24px;
}
#box-NextPage{
    margin-top: 1em; 
    height:7em;
}
#CHARMS{
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size:medium;
    border-radius: 5px;
    margin: 1em;
    padding: 10px 24px;
}
#SULogo{
    width:5%;
    position: fixed;
    right: .5em;
    bottom: .5em;
}
#btn-No{
    color: white;
    font-weight: bold;
    font-size:medium;
    background-color: plum;
    border-radius: 5px; 
    margin: 1em;
    padding: 10px 24px;
}
#btn-Yes{
    color: white;
    font-weight: bold;
    font-size:medium;
    background-color: goldenrod;
    border-radius: 5px; 
    margin: 1em;
    padding: 10px 24px;
}
#download-btn{
    color: white;
    font-weight: bold;
    font-size:medium;
    background-color: green;
    border-radius: 5px; 
    margin: 1em;
    padding: 10px 24px;
}
#view-btn{
    color: white;
    font-weight: bold;
    font-size:smaller;
    background-color: blue;
    border-radius: 4px; 
    margin: 1em;
    padding: 1px 24px;
}
#Answer1{
    color: white;
    font-weight: bold;
    font-size:medium;
    background-color: maroon;
    border-radius: 5px; 
    margin: 1em;
    padding: 10px 24px;
}
.flex-container {
   
    height:min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em; 
  }
  
  .flex-items{
    background-color: paleturquoise;
    padding-top: 1em;
    height: 14em;
    width: 20%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    border: 3px solid white;
  }
  .vidTitle{
    color: black;
    font-size:large;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;}
